* {
    margin: 0; /*Supprime la marge externe pour tous les éléments */
    padding: 0; /* SUpprime la marge interne pour tous les éléments */
    box-sizing: border-box; /* Bordures comprises dans les dimensions */
}
@font-face {
    font-family: blackops;
    src: url("blops.ttf");
}
body {
    width:80%;
    margin: 0 auto;
    background-color: antiquewhite;
}
header {
    margin-top: 5px;
}
h1 {
    text-align: center;
}
header h1 {
    font-size: 3rem;
}
#game h1, #stats h1 {
    font-family: blackops, serif;
    font-size: 20px;
}
div#container {
    position: absolute;
    width:90%;
    height: 90%;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);
    background-color: white;
    margin: 10px;
}
div#game {
    display: inline-block;
    width: 80%;
    height: 100%;
    background-color: beige;
    padding: 10px;
    vertical-align: top;
    border-radius: 15px 0 0 15px;
}
div#gamebox {
    display: block;
    width: 600px;
    height: 420px;
    min-height: 85px;
    max-height: 80%;
    min-width: 85px;
    margin: 10px auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}
div#stats {
    display: inline-block;
    width: 20%;
    height: 100%;
    padding: 10px;
    border-radius: 0 12px 12px 0;
    background-color: orange;
}
#black_box {
    background-color: black;
    width: 100%;
    height: 100px;
}

#black_box p {
    color: white;
    font-size: 70px;
    text-align: center;
    line-height: 100px;
    display: none;
}
#black_box2, #black_box3 {
    background-color: black;
    width: 100%;
    height: 40px;
    margin-top: 5px;
}

#black_box2 p,#black_box3 p {
   color: white;
    font-size: 20px;
}

#stats_score{
    display: block;
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
    height: 60%;
    padding: 5px;
    background: white;
    overflow-y: scroll;
}
table{
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

img {
    display: none;
    max-height: 100%; /* (100 / 14 rangées) */
    max-width: 100% ; /* (100/ 20 colonnes */
}
#gamebox div {
    display: inline-block;
    width: 5%;
    height: 7.14%;
    vertical-align: top;
}
#gamebox div.img1 {
    background: url("../images/tuile1.gif"); /* Image mur */
}
#gamebox div.img0 {
    background: url("../images/tuile0.gif"); /* Image chemin */
}
#pacman {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    z-index: 2;
    background: url("../images/pacman.gif") center ;
}
.erable {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    z-index: 2;
    background: url("../images/erable.gif") center ;
}